.dashboard_side_panel {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  width: 18rem;
  background-color: #272727;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_side_panel_content {
  display: flex;
  flex-direction: column;
  margin: 0%;
  align-items: center;
  justify-content: center;
  width: 100%;
  vertical-align: middle;
}

.dashboard_side_panel_course_dropdown {
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(-5rem);
  max-height: 0;
  overflow: hidden;
}

.dashboard_side_panel_course_dropdown.active {
  opacity: 1;
  transform: translateY(0);
  max-height: 500px;
  border-bottom: 2px solid rgb(0, 217, 255);
  border-top: 2px solid rgb(0, 217, 255);
}

.dashboard_side_panel_link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard_side_panel_link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease, left 0.3s ease;
}

.dashboard_side_panel_link:hover::after {
  width: 100%;
  transform: none;
  left: 0%;
}

.dashboard_side_panel_dropdown_link {
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}
.dropdown_underline {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.dropdown_underline:hover {
  text-decoration: underline;
}
.dashboard_panel_with_dropdown {
  width: 100%;
}
.p_affect {
  font-size: 1.5rem;
  color: white;
  margin: 1rem 0;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
}
.p_affect:hover {
  color: rgb(0, 217, 255);
  text-align: center;
}

.p_affect.active {
  font-size: 1.5rem;
  color: rgb(0, 217, 255);
}
