.show_students {
  position: relative;
  height: calc(100vh - 5.2rem);
}
.students-table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  position: relative;
}
.dev_action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.edit_table_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.overlay_student_table_order {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  width: 100%;
  height: 1rem;
  z-index: 1;
  top: 2rem;
  left: 1rem;
  justify-content: center;
  align-items: center;
}
.overlay_student_table_order.active {
  display: flex;
}
.edit_table_button img {
  height: 1.5rem;
  width: 1.5rem;
}
.students-table table {
  width: 100%;
  border-collapse: collapse;
}

.students-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}
.students-table td {
  padding: 8px;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt {
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.overlay-right {
  position: fixed;
  right: -18rem; /* Move the panel outside the viewport */
  background-color: #000000de;
  width: 18rem;
  height: 100%;
  top: 5rem;
  z-index: 4;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  visibility: hidden;
  transition: right 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.overlay-right.active {
  visibility: visible;
  right: 0; /* Bring the panel into view */
}

.overlay-right-close {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
  height: 2.2rem;
  width: 2.4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-right-close button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  cursor: pointer;
}
.overlay-right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.overlay-right-content-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.bt-overlay-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  margin: 1rem 0;
  height: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}
.bt-overlay-right-content:hover {
  text-decoration: underline;
}
.update-student-popup {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #000000de;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;

  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
}
.update-student-popup.active {
  opacity: 1;
  visibility: visible;
}
.update-student-popup-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.613);
  width: 40rem;
  height: 40rem;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  overflow: scroll;
}
.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;
}
.form-input label {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.form-input input {
  width: 80%;
  height: 1.3rem;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease-in-out;
}
.form-input input::placeholder {
  color: white;
}
.form-input input:focus {
  outline: none;
  border-color: red;
}
.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
}
.form-buttons button {
  margin: 1rem 0;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form-buttons button:hover {
  background-color: white;
  color: black;
}
.form-input select {
  width: 80%;
  font-size: 0.9rem;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  height: 1.3rem;
  cursor: pointer;
}
.form-input select:focus {
  outline: none;
  border-color: red;
}