.reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max(40%, 400px);
  border: 1px solid white;
  border-radius: 10px;
}

.reset-password-form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem 0;
}

.reset-password-form-body input {
  width: 70%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  font-size: 1rem;
  outline: none;
}

.submit-button {
  width: 10rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #dc5f00;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.submit-button button:hover {
  background-color: #262323;
  color: #f0f0f0;
  transition: all 0.3s ease;
  color: #dc5f00;
}

.submit-button.success {
  background-color: #dc5f00;
  color: black;
  cursor: not-allowed;
}
