.dashboard {
  /* color: aliceblue; */
  background: white;
  height: 100vh;
  width: 100vw;
}
.dashboard_side_panel {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 18rem;
  background-color: #272727;
  transition: all 0.5s ease;
}

.dashboard_side_panel_content {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100%;
  vertical-align: middle;
}

.dashboard_side_panel_content p {
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.dashboard_side_panel_content p::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease, left 0.3s ease;
}

.dashboard_side_panel_content p:hover::after {
  width: 100%;
  transform: none;
  left: 0%;
}

.dashboard_side_panel_toggle_button {
  position: absolute;
  justify-content: center;
  top: 50%;
  right: -1rem;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.779);
  width: 1rem;
  height: 5rem;
  align-items: center;
  border: none;
  transition: all 0.5s ease;
}

.dashboard_side_panel_course_dropdown {
  transition: all 0.5s ease;
}

.dashboard_side_panel_course_dropdown p {
  font-size: 0.9rem;
  text-align: center;
  transition: all 0.3s ease;
}

.dashboard_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
  height: 5rem;
  width: 100%;
  flex: 1 0;
  flex-grow: 2 1;
  color: black;
  text-align: center;
  border-bottom: 3px double #272727;
}

.dashboard_header_title {
  position: absolute;
  justify-content: center;
  font-size: 2.4rem;
}
.dashboard_header_logout {
  position: absolute;
  right: 0;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  height: 5rem;
  transition: all 0.3s ease;
  display: flex;
  border-left: 2px solid #272727;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.dashboard_header_logout:hover {
  color: dimgrey;
  transition: all 0.3s ease;
}
.profile_icon {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgb(145, 255, 0);
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: larger;
  border-radius: 5px;
}

.profile_name {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 5rem;
  /* min-width: 5rem; */
}
.profile_dropdown {
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
}
.profile_dropdown_p {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.profile_dropdown_p:hover {
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 0.5rem;
}
